# Introduction to Python: Tuples, Lists, Dictionaries, Arrays

## Variables

 Containers for store data values. This variable has a label or name. This variable is an object in memory.

## Python Types

There are three key python types: int, float, string and boolean.

Integer

In [3]:
a = 50
type (a)

int

Float

In [4]:
b = 30.3
type (b)

float

String

In [5]:
c = "30"
type (c)

str

Boolean

In [6]:
d = False
type (d)

bool

## <a href="https://www.w3schools.com/python/python_ref_string.asp">String</a>

A string is a sequence of characters

In [7]:
my_string = 'hello15%'
print(my_string)

hello15%

In [12]:
name = "Gustavo"
print (name,"\n")

Gustavo

In [13]:
# triple quotes string can extend multiple lines
my_string = """ Hello, welcome to 
                the world of Python """
print(my_string)

 Hello, welcome to
                the world of Python

In [14]:
len(my_string)

56

In [15]:
str_1 = "The name"
str_2 = "of the course"
str_3 = "is python"
print(str_1, str_2, str_3)

The name of the course is python

In [16]:
course_name = str_1 + str_2 + str_3
course_name

'The nameof the courseis python'

In [22]:
#first character print
str = 'Introduction to Python'
print('str[0] = ', str[0])

str[0] =  I

In [23]:
#2nd character from the end
str[-2]

'o'

In [24]:
#6th character from the end
str[-6]

'P'

In [25]:
#slicing 2nd to 5th character
str = 'Introduction to Python'
print(str[1:5])

ntro

## <a href="https://www.w3schools.com/python/python_booleans.asp">Bool</a>

The Python Boolean type is one of Python’s built-in data types. It’s used to represent the truth value of an expression. For example, the expression 1 <= 2 is True, while the expression 0 == 1 is False.

In [26]:
response = print(10 > 9)
response

True

In [27]:
print(10 == 9)

False

In [30]:
True + (False / True)

1.0

## <a href="https://www.datacamp.com/tutorial/python-tuples-tutorial">Tuples</a>

It is an ordered and unchangeable Python container. We cannot change, add or remove items after the tuple has been created. Tuple items are ordered, unchangeable, and allow duplicate values.

In [32]:
tuple1 = (1, 2, 5, 9, 10, 10)
tuple1

(1, 2, 5, 9, 10, 10)

In [33]:
tuple1[3]

9

In [34]:
# I want to change the value in the index 1
tuple1[1] = 4
# It is not possible
# to change values

TypeError: 'tuple' object does not support item assignment

In [36]:
# Count the items with number 10
tuple1.count(10)

2

In [39]:
# index
print( tuple1 )
tuple1.index( 10 )

(1, 2, 5, 9, 10, 10)

4

In [40]:
max(tuple1)

10

In [41]:
tuple1 = ("Gustavo", 5, True)
tuple1

('Gustavo', 5, True)

In [42]:
len(tuple1[0])

7

## <a href="https://www.freecodecamp.org/news/lists-in-python-comprehensive-guide/">List</a>

It is an ordered and mutable Python container. Its itmes are orderd, changeable, and allow duplicate values and different type of objects. Finally, every item has index because lists have a defined order.

In [44]:
# We use brackets to create a list
a = [18, 1.36, "Gustavo", False]
a

[18, 1.36, 'Gustavo', False]

In [45]:
print( type( a ) )

<class 'list'>

In [49]:
a[-2]

'Gustavo'

In [50]:
print(  a[-2] )

Gustavo

In [51]:
b = [ 3, 13, 2, 56, 76, 16]
b

[3, 13, 2, 56, 76, 16]

In [57]:
b_sort = b.copy()
b_sort

[3, 13, 2, 56, 76, 16]

In [58]:
b_sort.sort()
b_sort

[2, 3, 13, 16, 56, 76]

In [59]:
grades= [15, 20, 16, 5, 8 ]
grades

[15, 20, 16, 5, 8]

In [64]:
grades.sort()
grades

[5, 8, 15, 16, 20]

In [65]:
grades.append( 18 )
grades

[5, 8, 15, 16, 20, 18]

In [66]:
grades2= [13, 12, 17]

In [67]:
grades.extend( grades2 )

In [68]:
grades

[5, 8, 15, 16, 20, 18, 13, 12, 17]

In [69]:
print( max( grades ) )

20

In [70]:
print( min( grades ) )

5

In [71]:
# length of a list
print( len( grades ) )

9

## <a href="https://realpython.com/python-dicts/">Dictionaries</a>

It is a ordered (Python >= 3.7) and mutable Python container. It does not allow duplicate key. They must be unique.

| Method | Definition | | --- | --- | |clear()| Removes all the elements from the dictionary| |copy() | Returns a copy of the dictionary| |fromkeys() | Returns a dictionary with the specified keys and value| |get() | Returns the value of the specified key| |items() | Returns a list containing a tuple for each key value pair| |keys() | Returns a list containing the dictionary's keys| |pop() | Removes the element with the specified key| |popitem() | Removes the last inserted key-value pair| |setdefault() | Returns the value of the specified key.
If the key does not exist: insert the key, with the specified value| |update() | Updates the dictionary with the specified key-value pairs | |values() | Returns a list of all the values in the dictionary|

In [73]:
Gustavo = { 'lastname': "Meza,", 'age': 26, 'birth_place': "Huancayo", 'male' : True}
Gustavo

{'lastname': 'Meza,', 'age': 26, 'birth_place': 'Huancayo', 'male': True}

In [74]:
lastname = ["Meza", "Rojas", "Torres"]
ages = [26, 24, 35]

In [76]:
list_1 = { "lastname" : ["Quispe", "Rojas", "Torres"],
          "ages":[26, 24, 35], "birth_place": "Huancayo", 'male' : True}
list_1["lastname"]

['Quispe', 'Rojas', 'Torres']

In [77]:
Gustavo["male"]

True

In [78]:
# dictionary containing the population of the 5 largest german cities
population = {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056 }

In [79]:
# clear
print( population )
type( population )

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}

dict

In [80]:
population.clear()

In [81]:
population

{}

In [83]:
population = {'Berlin': 3748148, 'Hamburg': 1822445, 
              'Munich': 1471508, 'Cologne': 1085664, 
              'Frankfurt': 753056 }

In [84]:
pop_2 = population.copy()
pop_2

{'Berlin': 3748148,
 'Hamburg': 1822445,
 'Munich': 1471508,
 'Cologne': 1085664,
 'Frankfurt': 753056}

In [85]:
population["Berlin"]

3748148

In [86]:
# Get information from key
population.get('Munich')

1471508

In [87]:
# Get information from key
population.items()

dict_items([('Berlin', 3748148), ('Hamburg', 1822445), ('Munich', 1471508), ('Cologne', 1085664), ('Frankfurt', 753056)])

In [88]:
population.keys()

dict_keys(['Berlin', 'Hamburg', 'Munich', 'Cologne', 'Frankfurt'])

In [89]:
stadiums = { "munich":"Alianz Arena","dormundt": "SIP", "ulm": "VFLULM", "shalke": "GAZPROM"}

In [90]:
population.update( {"stadiums": stadiums} )

In [91]:
population

{'Berlin': 3748148,
 'Hamburg': 1822445,
 'Munich': 1471508,
 'Cologne': 1085664,
 'Frankfurt': 753056,
 'stadiums': {'munich': 'Alianz Arena',
  'dormundt': 'SIP',
  'ulm': 'VFLULM',
  'shalke': 'GAZPROM'}}

In [92]:
# Drop a key
print( population )
population.pop( 'Hamburg' )
print( population )

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'stadiums': {'munich': 'Alianz Arena', 'dormundt': 'SIP', 'ulm': 'VFLULM', 'shalke': 'GAZPROM'}}
{'Berlin': 3748148, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'stadiums': {'munich': 'Alianz Arena', 'dormundt': 'SIP', 'ulm': 'VFLULM', 'shalke': 'GAZPROM'}}

In [93]:
# Drop an item
population.popitem( )
print( population )

{'Berlin': 3748148, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056}

In [94]:
population.update( { "Bonn" :  327258 } )
population.update( { "Ulm" : 100000  } )
population

{'Berlin': 3748148,
 'Munich': 1471508,
 'Cologne': 1085664,
 'Frankfurt': 753056,
 'Bonn': 327258,
 'Ulm': 100000}

In [95]:
# Add new items
print( population )
population.update( { "Bonn" :  {"population":100 , "km2" : 500, "president" : "Muller"} } )
print( population )

{'Berlin': 3748148, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'Bonn': 327258, 'Ulm': 100000}
{'Berlin': 3748148, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'Bonn': {'population': 100, 'km2': 500, 'president': 'Muller'}, 'Ulm': 100000}

In [96]:
population.keys()

dict_keys(['Berlin', 'Munich', 'Cologne', 'Frankfurt', 'Bonn', 'Ulm'])

In [98]:
# Get all values from all keys
population.values()

dict_values([3748148, 1471508, 1085664, 753056, {'population': 100, 'km2': 500, 'president': 'Muller'}, 100000])

## From lists to dictionaries

In [99]:
# keys
cities = ['Fray Martin','Santa Rosa de Puquio','Cuchicorral','Santiago de Punchauca',
          'La Cruz (11 Amigos)','Cerro Cañon','Cabaña Suche','San Lorenzo',
          'Jose Carlos Mariategui','Pascal','La Esperanza','Fundo Pancha Paula','Olfa',
          'Rio Seco','Paraiso','El Rosario','Cerro Puquio','La Campana','Las Animas',
          'Vetancio','Roma Alta','San Jose','San Pedro de Carabayllo','Huacoy',
          'Fundo Pampa Libre','Ex Fundo Santa Ines','Reposo','Carmelito','Santa Elena','Don Luis','Santa Ines Parcela','Asociacion Santa Ines','Roma Baja','Residencial Santa Lucia','San Francisco','Santa Margarita - Molinos','Sipan Peru','Fundo Cuadros','Bello Horizonte','El Hueco','Ex Fundo Mariategui','Naranjito','Vista Hermosa','El Sabroso de Jose Carlos Mariategui','Granja Carabayllo','Agropecuario Valle el Chillon','Camino Real','Copacabana','El Trebol','Tablada la Virgen','San Fernando de Carabayllo','San Fernando de Copacabana','La Manzana','Chacra Grande','Torres de Copacabana','San Pedro de Carabayllo','San Lorenzo','Chaclacayo','Chorrillos','Cieneguilla','Lindero','Pichicato','San Isidro','San Vicente','Piedra Liza','Santa Rosa de Chontay (Chontay)','La Libertad','El Agustino','Independencia','Jesus Maria','La Molina','La Victoria','Lince','Las Palmeras','Chosica','Lurin','Los Almacigos','Rinconada del Puruhuay','Fundo Santa Genoveva','Los Maderos','Casco Viejo','Vista Alegre','Buena Vista Alta','Lomas Pucara','Fundo la Querencia','Magdalena del Mar','Pueblo Libre','Miraflores','Pachacamac','Puente Manchay','Tambo Inga','Pampa Flores','Manchay Alto Lote B','Invasion Cementerio','Manchay Bajo','Santa Rosa de Mal Paso','Cardal','Jatosisa','Tomina','Pucusana','Honda','Quipa','Los Pelicanos','Playa Puerto Bello','Ñaves','Granja Santa Elena','Alvatroz II','Poseidon - Lobo Varado','Playa Minka Mar','Playa Acantilado','Puente Piedra','Punta Hermosa','Capilla Lucumo','Cucuya','Pampapacta','Avicola San Cirilo de Loma Negra - 03','Avicola San Cirilo de Loma Negra - 02','Avicola San Cirilo de Loma Negra - 01','Pampa Mamay','Cerro Botija','Agricultores y Ganaderos','Pampa Malanche Avicola Puma','Punta Negra','Chancheria','Rimac','San Bartolo','Plantel 41','Granja 4','Granja 5','Granja 07','Granja 44','Granja 47','Santa Maria I','Las Torres Santa Fe','San Francisco de Borja','San Isidro','San Juan de Lurigancho','Ciudad de Dios','San Luis','Barrio Obrero Industrial','San Miguel','Santa Anita - los Ficus','Santa Maria del Mar','Don Bruno','Santa Rosa','Santiago de Surco','Surquillo','Villa el Salvador','Villa Maria del Triunfo', 'Pueblo libre']
# values
postal_code = [15001,15003,15004,15006,15018,15019,15046,15072,15079,15081,15082,15083,15088,15123,15004,15011,15012,15019,15022,15023,15026,15476,15479,15483,15487,15491,15494,15498,15047,15049,15063,15082,15083,15121,15122,15313,15316,15318,15319,15320,15321,15324,15320,15320,15320,15320,15320,15320,15121,15320,15320,15121,15320,15320,15121,15121,15122,15122,15121,15121,15121,15320,15320,15320,15320,15320,15320,15121,15121,15121,15320,15121,15319,15121,15121,15121,15320,15320,15121,15121,15121,15121,15320,15320,15320,15122,15122,15122,15122,15122,15122,15122,15122,15121,15121,15122,15122,15121,15121,15122,15122,15121,15122,15122,15122,15472,15476,15054,15056,15057,15058,15063,15064,15066,15067,15593,15594,15593,15593,15593,15593,15593,15593,15593,15311,15312,15313,15314,15316,15324,15326,15327,15328,15332,15003,15004,15006,15007,15008,15009,15011,15018,15022,15311,15328,15331,15332,15333,15046, 15001]

In [100]:
len(cities)
len(postal_code)

150

In [104]:
type (cities)
type (postal_code)

list

In [106]:
list(zip( cities , postal_code ))

[('Fray Martin', 15001),
 ('Santa Rosa de Puquio', 15003),
 ('Cuchicorral', 15004),
 ('Santiago de Punchauca', 15006),
 ('La Cruz (11 Amigos)', 15018),
 ('Cerro Cañon', 15019),
 ('Cabaña Suche', 15046),
 ('San Lorenzo', 15072),
 ('Jose Carlos Mariategui', 15079),
 ('Pascal', 15081),
 ('La Esperanza', 15082),
 ('Fundo Pancha Paula', 15083),
 ('Olfa', 15088),
 ('Rio Seco', 15123),
 ('Paraiso', 15004),
 ('El Rosario', 15011),
 ('Cerro Puquio', 15012),
 ('La Campana', 15019),
 ('Las Animas', 15022),
 ('Vetancio', 15023),
 ('Roma Alta', 15026),
 ('San Jose', 15476),
 ('San Pedro de Carabayllo', 15479),
 ('Huacoy', 15483),
 ('Fundo Pampa Libre', 15487),
 ('Ex Fundo Santa Ines', 15491),
 ('Reposo', 15494),
 ('Carmelito', 15498),
 ('Santa Elena', 15047),
 ('Don Luis', 15049),
 ('Santa Ines Parcela', 15063),
 ('Asociacion Santa Ines', 15082),
 ('Roma Baja', 15083),
 ('Residencial Santa Lucia', 15121),
 ('San Francisco', 15122),
 ('Santa Margarita - Molinos', 15313),
 ('Sipan Peru', 15316),
 ('Fundo Cuadros', 15318),
 ('Bello Horizonte', 15319),
 ('El Hueco', 15320),
 ('Ex Fundo Mariategui', 15321),
 ('Naranjito', 15324),
 ('Vista Hermosa', 15320),
 ('El Sabroso de Jose Carlos Mariategui', 15320),
 ('Granja Carabayllo', 15320),
 ('Agropecuario Valle el Chillon', 15320),
 ('Camino Real', 15320),
 ('Copacabana', 15320),
 ('El Trebol', 15121),
 ('Tablada la Virgen', 15320),
 ('San Fernando de Carabayllo', 15320),
 ('San Fernando de Copacabana', 15121),
 ('La Manzana', 15320),
 ('Chacra Grande', 15320),
 ('Torres de Copacabana', 15121),
 ('San Pedro de Carabayllo', 15121),
 ('San Lorenzo', 15122),
 ('Chaclacayo', 15122),
 ('Chorrillos', 15121),
 ('Cieneguilla', 15121),
 ('Lindero', 15121),
 ('Pichicato', 15320),
 ('San Isidro', 15320),
 ('San Vicente', 15320),
 ('Piedra Liza', 15320),
 ('Santa Rosa de Chontay (Chontay)', 15320),
 ('La Libertad', 15320),
 ('El Agustino', 15121),
 ('Independencia', 15121),
 ('Jesus Maria', 15121),
 ('La Molina', 15320),
 ('La Victoria', 15121),
 ('Lince', 15319),
 ('Las Palmeras', 15121),
 ('Chosica', 15121),
 ('Lurin', 15121),
 ('Los Almacigos', 15320),
 ('Rinconada del Puruhuay', 15320),
 ('Fundo Santa Genoveva', 15121),
 ('Los Maderos', 15121),
 ('Casco Viejo', 15121),
 ('Vista Alegre', 15121),
 ('Buena Vista Alta', 15320),
 ('Lomas Pucara', 15320),
 ('Fundo la Querencia', 15320),
 ('Magdalena del Mar', 15122),
 ('Pueblo Libre', 15122),
 ('Miraflores', 15122),
 ('Pachacamac', 15122),
 ('Puente Manchay', 15122),
 ('Tambo Inga', 15122),
 ('Pampa Flores', 15122),
 ('Manchay Alto Lote B', 15122),
 ('Invasion Cementerio', 15121),
 ('Manchay Bajo', 15121),
 ('Santa Rosa de Mal Paso', 15122),
 ('Cardal', 15122),
 ('Jatosisa', 15121),
 ('Tomina', 15121),
 ('Pucusana', 15122),
 ('Honda', 15122),
 ('Quipa', 15121),
 ('Los Pelicanos', 15122),
 ('Playa Puerto Bello', 15122),
 ('Ñaves', 15122),
 ('Granja Santa Elena', 15472),
 ('Alvatroz II', 15476),
 ('Poseidon - Lobo Varado', 15054),
 ('Playa Minka Mar', 15056),
 ('Playa Acantilado', 15057),
 ('Puente Piedra', 15058),
 ('Punta Hermosa', 15063),
 ('Capilla Lucumo', 15064),
 ('Cucuya', 15066),
 ('Pampapacta', 15067),
 ('Avicola San Cirilo de Loma Negra - 03', 15593),
 ('Avicola San Cirilo de Loma Negra - 02', 15594),
 ('Avicola San Cirilo de Loma Negra - 01', 15593),
 ('Pampa Mamay', 15593),
 ('Cerro Botija', 15593),
 ('Agricultores y Ganaderos', 15593),
 ('Pampa Malanche Avicola Puma', 15593),
 ('Punta Negra', 15593),
 ('Chancheria', 15593),
 ('Rimac', 15311),
 ('San Bartolo', 15312),
 ('Plantel 41', 15313),
 ('Granja 4', 15314),
 ('Granja 5', 15316),
 ('Granja 07', 15324),
 ('Granja 44', 15326),
 ('Granja 47', 15327),
 ('Santa Maria I', 15328),
 ('Las Torres Santa Fe', 15332),
 ('San Francisco de Borja', 15003),
 ('San Isidro', 15004),
 ('San Juan de Lurigancho', 15006),
 ('Ciudad de Dios', 15007),
 ('San Luis', 15008),
 ('Barrio Obrero Industrial', 15009),
 ('San Miguel', 15011),
 ('Santa Anita - los Ficus', 15018),
 ('Santa Maria del Mar', 15022),
 ('Don Bruno', 15311),
 ('Santa Rosa', 15328),
 ('Santiago de Surco', 15331),
 ('Surquillo', 15332),
 ('Villa el Salvador', 15333),
 ('Villa Maria del Triunfo', 15046),
 ('Pueblo libre', 15001)]

In [108]:
# Return a dictionarie
ct_pc = dict( zip( cities , postal_code ) )

In [109]:
ct_pc

{'Fray Martin': 15001,
 'Santa Rosa de Puquio': 15003,
 'Cuchicorral': 15004,
 'Santiago de Punchauca': 15006,
 'La Cruz (11 Amigos)': 15018,
 'Cerro Cañon': 15019,
 'Cabaña Suche': 15046,
 'San Lorenzo': 15122,
 'Jose Carlos Mariategui': 15079,
 'Pascal': 15081,
 'La Esperanza': 15082,
 'Fundo Pancha Paula': 15083,
 'Olfa': 15088,
 'Rio Seco': 15123,
 'Paraiso': 15004,
 'El Rosario': 15011,
 'Cerro Puquio': 15012,
 'La Campana': 15019,
 'Las Animas': 15022,
 'Vetancio': 15023,
 'Roma Alta': 15026,
 'San Jose': 15476,
 'San Pedro de Carabayllo': 15121,
 'Huacoy': 15483,
 'Fundo Pampa Libre': 15487,
 'Ex Fundo Santa Ines': 15491,
 'Reposo': 15494,
 'Carmelito': 15498,
 'Santa Elena': 15047,
 'Don Luis': 15049,
 'Santa Ines Parcela': 15063,
 'Asociacion Santa Ines': 15082,
 'Roma Baja': 15083,
 'Residencial Santa Lucia': 15121,
 'San Francisco': 15122,
 'Santa Margarita - Molinos': 15313,
 'Sipan Peru': 15316,
 'Fundo Cuadros': 15318,
 'Bello Horizonte': 15319,
 'El Hueco': 15320,
 'Ex Fundo Mariategui': 15321,
 'Naranjito': 15324,
 'Vista Hermosa': 15320,
 'El Sabroso de Jose Carlos Mariategui': 15320,
 'Granja Carabayllo': 15320,
 'Agropecuario Valle el Chillon': 15320,
 'Camino Real': 15320,
 'Copacabana': 15320,
 'El Trebol': 15121,
 'Tablada la Virgen': 15320,
 'San Fernando de Carabayllo': 15320,
 'San Fernando de Copacabana': 15121,
 'La Manzana': 15320,
 'Chacra Grande': 15320,
 'Torres de Copacabana': 15121,
 'Chaclacayo': 15122,
 'Chorrillos': 15121,
 'Cieneguilla': 15121,
 'Lindero': 15121,
 'Pichicato': 15320,
 'San Isidro': 15004,
 'San Vicente': 15320,
 'Piedra Liza': 15320,
 'Santa Rosa de Chontay (Chontay)': 15320,
 'La Libertad': 15320,
 'El Agustino': 15121,
 'Independencia': 15121,
 'Jesus Maria': 15121,
 'La Molina': 15320,
 'La Victoria': 15121,
 'Lince': 15319,
 'Las Palmeras': 15121,
 'Chosica': 15121,
 'Lurin': 15121,
 'Los Almacigos': 15320,
 'Rinconada del Puruhuay': 15320,
 'Fundo Santa Genoveva': 15121,
 'Los Maderos': 15121,
 'Casco Viejo': 15121,
 'Vista Alegre': 15121,
 'Buena Vista Alta': 15320,
 'Lomas Pucara': 15320,
 'Fundo la Querencia': 15320,
 'Magdalena del Mar': 15122,
 'Pueblo Libre': 15122,
 'Miraflores': 15122,
 'Pachacamac': 15122,
 'Puente Manchay': 15122,
 'Tambo Inga': 15122,
 'Pampa Flores': 15122,
 'Manchay Alto Lote B': 15122,
 'Invasion Cementerio': 15121,
 'Manchay Bajo': 15121,
 'Santa Rosa de Mal Paso': 15122,
 'Cardal': 15122,
 'Jatosisa': 15121,
 'Tomina': 15121,
 'Pucusana': 15122,
 'Honda': 15122,
 'Quipa': 15121,
 'Los Pelicanos': 15122,
 'Playa Puerto Bello': 15122,
 'Ñaves': 15122,
 'Granja Santa Elena': 15472,
 'Alvatroz II': 15476,
 'Poseidon - Lobo Varado': 15054,
 'Playa Minka Mar': 15056,
 'Playa Acantilado': 15057,
 'Puente Piedra': 15058,
 'Punta Hermosa': 15063,
 'Capilla Lucumo': 15064,
 'Cucuya': 15066,
 'Pampapacta': 15067,
 'Avicola San Cirilo de Loma Negra - 03': 15593,
 'Avicola San Cirilo de Loma Negra - 02': 15594,
 'Avicola San Cirilo de Loma Negra - 01': 15593,
 'Pampa Mamay': 15593,
 'Cerro Botija': 15593,
 'Agricultores y Ganaderos': 15593,
 'Pampa Malanche Avicola Puma': 15593,
 'Punta Negra': 15593,
 'Chancheria': 15593,
 'Rimac': 15311,
 'San Bartolo': 15312,
 'Plantel 41': 15313,
 'Granja 4': 15314,
 'Granja 5': 15316,
 'Granja 07': 15324,
 'Granja 44': 15326,
 'Granja 47': 15327,
 'Santa Maria I': 15328,
 'Las Torres Santa Fe': 15332,
 'San Francisco de Borja': 15003,
 'San Juan de Lurigancho': 15006,
 'Ciudad de Dios': 15007,
 'San Luis': 15008,
 'Barrio Obrero Industrial': 15009,
 'San Miguel': 15011,
 'Santa Anita - los Ficus': 15018,
 'Santa Maria del Mar': 15022,
 'Don Bruno': 15311,
 'Santa Rosa': 15328,
 'Santiago de Surco': 15331,
 'Surquillo': 15332,
 'Villa el Salvador': 15333,
 'Villa Maria del Triunfo': 15046,
 'Pueblo libre': 15001}